[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ConConPiWiFun"]
	path = ConConPiWiFun
	url = https://github.com/cran/ConConPiWiFun
